@import "./animations.less";
@import "./variables.less";

#chat-log {
    .crt-filter();
    .c2d10-section();
    box-shadow: 0 0 10px 15px #000 inset;

    .chat-message {
        .c2d10-subsection();
    }

    .message-content {
        font-family: inherit;
        font-size: inherit;
    }
}