.c2d10.sheet {
    .c2d10-section();

    .window-content {
        background: inherit;
    }

    img {
        max-height: 145px;
    }

    h1 {
        border: none !important;
        text-align: center;
        color: @colors[green];
        font-family: @h1;
        font-size: @size[giant];
    }
    h3 {
        border: none !important;
        text-align: center;
        color: @colors[green];
        font-family: @h1;
        font-size: @size[large];
        text-shadow: none;
    }
}