.c2d10.sheet,
.c2d10.item-sheet {
    .c2d10-section();

    .window-content {
        background: inherit;
        background-image: url(./assets/backgrounds/circuit_green.webp);
        background-position: center;
        background-size: cover;
    }

    input {
        background: none !important;
        border: none !important;
        box-shadow: none !important;
        color: inherit !important;
    }

    .align-right {
        text-align: right;
    }

    .edit-lock {
        position: absolute;
        top: 48px;
        right: 15px;
    }

    img {
        max-height: 145px;
        border: none;
    }

    h1 {
        border: none !important;
        text-align: center;
        color: @colors[green];
        font-family: @h1;
        font-size: @size[giant];
    }

    h3 {
        border: none !important;
        text-align: center;
        color: @colors[green];
        font-family: @h1;
        font-size: @size[large];
        text-shadow: none;
    }

    .label-box {
        padding: 3px 2px 2px 2px;
    }

    label {
        border: none !important;
        color: @colors[green];
        font-family: @h1;
        font-size: @size[normal];
        text-shadow: none;
    }

    #no-marker {
        list-style-type: none;
    }

    .table-no-border {
        border: none !important;
    }

    .warning {
        color: @colors[alert] !important
    }

    .red {
        color: red !important;
        .crt-chromatic-aberration();
    }

    .green {
        color: green !important;
    }

    .xp-box {
        width: 36px;

        h3 {
            font-size: small;
        }

        input {
            text-align: center !important;
        }
    }

    .sheet-tabs {
        .green-border();
        .inset-shadow();
        color: @colors[green];
        writing-mode: vertical-lr;
        position: relative;
        top: 0px;
        height: 819px;
        width: 40px;
        margin-right: 5px;
    }

    .item {
        .green-border();
        text-orientation: mixed;
        transform: rotate(-180deg);
        margin: 2px 5px 2px 5px;
    }

    .item.active {
        .white-border() !important;
        color: @colors[ghost] !important;
    }

    .sheet-body {
        .w-100();
    }

    .c2d10-sheet-header-box {
        max-height: 80px;
    }

    .c2d10-asset-textarea {
        textarea {
            .c2d10-basic-text();
            color: inherit;
            border: none;
            background: none;

            width: 100%;
            height: 100%;
            box-sizing: border-box;

            &:focus {
                .green-border();
            }

            &::-webkit-scrollbar-thumb {
                border-color: @colors[main] !important;
                background-color: @colors[green-d] !important;
            }
        }
    }

    .c2d10-bio-textarea {
        height: 148px;
        max-height: 200px;
    }

    .value-box {
        min-width: 220px;
        width: 100%;
    }

    .c2d10-asset-card-table {

        th,
        td {
            .c2d10-basic-text();
            text-align: center;
        }
    }

    .space {
        visibility: hidden;
    }

    .crisis-box {
        padding-top: 10px;

        h3 {
            margin-right: 10px;
        }
    }

    select {
        border: none;
        color: @colors[main];
        background: linear-gradient(0deg, @colors[bkg], 55%, fade(@colors[bkg], 85%));
        font-family: @m2;
        font-size: @size[large];
        padding: 5px 10px;
    }

    select option {
        background-color: @colors[bkg];
        font-family: @m2;
        font-size: @size[large]
    }

    .c2d10-test {
        &:hover {
            .white-shadow();
        }
    }

    table {
        margin: 0px;
    }

    .c2d10-fit-content {
        height: fit-content !important;
    }

    nav.sheet-tabs .item {
        padding: 10px 4px;
        margin: 4px;
    }
}

.c2d10.item-sheet {
    height: fit-content !important;
}