// base font size
@basefontsize: 0.875rem;

// Colors
@colors: {
    main: #88f2ad;
    bkg: #021109;
    green: #29a253;
    green-d: #005c20;
    alert: #e0f287;
    ghost: #e5e5ec;
}

.c2d10-alert {
    color: @colors[alert] !important;
}

// Fonts
@font-face {
    font-family: Quantum;
    font-style: normal;
    font-weight: 400;
    src: url(https://rawcdn.githack.com/The-Toblin/Revamped/54a9aba6c35ac2dcbd60818414294762f6b9c37f/Quantum.otf);
}

@font-face {
    font-family: Kosugi;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kosugi/v14/pxiFyp4_v8FCjlI4NA.ttf);
}

@font-face {
    font-family: Blinker;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/blinker/v12/cIf4MaFatEE-VTaP_OGARGE.ttf);
}

@font-face {
    font-family: Major Mono Display;
    font-style: monospace;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/majormonodisplay/v10/RWmVoLyb5fEqtsfBX9PDZIGr2tFubRhLCg.ttf);
}

@font-face {
    font-family: VT323;
    font-style: monospace;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/vt323/v15/pxiKyp0ihIEF2hsY.ttf);
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@h1: Quantum, sans-serif;
@h2: Kosugi, sans-serif;
@h3: Major Mono Display, monospace;
@m1: Blinker, sans-serif;
@m2: VT323, monospace;
@m3: Roboto, sans-serif;

// Card Classes
.c2d10-section {
    //background: linear-gradient(0deg, @colors[bkg], 15%, fade(@colors[bkg], 85%));
}

.c2d10-subsection {
    .green-border();
    .inset-shadow();
    background: linear-gradient(0deg, @colors[green-d], 15%, fade(@colors[green-d], 85%));
    padding: 10px;
    margin: 2px;
    margin-bottom: 5px;
    height: 100%;
    position: relative;
}

.c2d10-contentbox {
    .white-border();
    background-color: fade(@colors[bkg], 75%);
    color: @colors[ghost];
    font-family: @m2;
    font-size: @size[normal];
    font-weight: 200;
    letter-spacing: 1px;
    padding: 5px;
    margin: 2px;
    position: relative;
}

.c2d10-dark-background {
    background: linear-gradient(0deg, @colors[bkg], 55%, fade(@colors[bkg], 85%));
}

.inset-shadow() {
    box-shadow: 0 0 50px 5px #000 inset;
}

.white-border {
    border-radius: 3px;
    border: 2px solid;
    border-color: @colors[ghost] !important;
}

.white-shadow {
    text-shadow: 0 0 10px @colors[ghost];
}

.green-border {
    border-radius: 3px;
    border: 2px solid;
    border-color: @colors[green] !important;
}

.fancy-effects {
    .white-shadow();
    .crt-filter();
}

// Buttons

// Text
@size: {
    small: @basefontsize*0.9;
    normal: @basefontsize*1.0;
    large: @basefontsize*1.25;
    giant: @basefontsize*2.5;
}

.c2d10-basic-text {
    color: @colors[ghost];
    font-family: @m2;
    font-size: @size[normal];
    font-weight: 200;
    letter-spacing: 1px;
}

// Basic Functions

// Animations
.crt-blink {
    content: "";
    position: relative;
    top: 20px;
    left: 3px;
    width: 12px;
    height: 2px;
    background: @colors[bkg];
    display: inline-block;
    animation: crtBlink 1.5s steps(2) infinite;
}

.crt-chromatic-aberration {
    animation: textShadow 2s infinite !important;
}

.crt-flicker {
    &:after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #1210101a;
        opacity: 0;
        z-index: 2;
        pointer-events: none;
        animation: crtFlicker 0.25s infinite;
    }
}

.neon-flicker {
    animation: neonFlicker 2.25s infinite;
}

// Filters
.crt-filter {
    &:before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
        z-index: 2;
        background-size: 100% 2px, 3px 100%;
        pointer-events: none;
    }
}

// Functions
.pad-sm {
    padding: 4px !important;
}

.pad-md {
    padding: 8px !important;
}

.pad-lg {
    padding: 12px !important;
}

.pad-xl {
    padding: 25px !important;
}

// Containers for content
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start;
    align-content: flex-start;
}

.flex-even {
    justify-content: space-evenly;
    align-content: flex-start;
}

.flex-between {
    justify-content: space-between;
    align-content: flex-start;
}

.flex-center {
    justify-content: center;
    align-content: flex-start;
}

.flex-verticalcenter {
    display: flex;
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

.w-100 {
    width: 100%
}

.w-10 {
    width: 9%
}

.w-5 {
    width: 4%
}

.w-20 {
    width: 19%
}

.w-40 {
    width: 39%;
}

.w-50 {
    width: 49%;
}

.w-60 {
    width: 59%;
}

.w-80 {
    width: 79%;
}

.w-fit {
    min-width: fit-content;
}

.h-100 {
    height: 100%;
}

.h-fit {
    min-height: fit-content;
}

.c2d10-capitalize {
    text-transform: capitalize;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

.align-center {
    text-align: center !important;
}

.d10-dot-full,
.d10-dot-empty {
    min-width: 18px !important;
    min-height: 18px !important;
    max-width: 20px !important;
    max-height: 20px !important;
    border: none !important;
    padding: 1px;
}

table {
    border: none;
    background: none;
    border-collapse: separate;
    border-spacing: 5px;

    tr {
        background: unset;
        background-color: unset;

        &:nth-child(even),
        &:nth-child(odd) {
            background: unset;
            background-color: unset;
        }
    }

    th,
    td {
        background: none;
        border: none;
        vertical-align: middle;
        padding: 4px 5px;
        color: inherit;
        border-radius: 3px;
        border: 2px solid;
        border-color: @colors[green];
    }

    th {
        text-align: left;
        text-transform: uppercase;
    }

    td {
        text-align: right;
    }

    input {
        background: none !important;
        border: none !important;
        box-shadow: none !important;
        color: inherit !important;
    }
}