<form>
    <input id="focus-name" type="text" placeholder="{{localize "c2d10.skills.name"}}" />
    <select id="focus-skill">
        {{selectOptions config.allSkills selected=focus-skill localize=true}}
    </select>
</form>