<section>
    <h3>
        {{localize "c2d10.sheet.assets"}}
    </h3>
    <div class="content-box c2d10-subsection flex-row flex-between">
        <div class="flex-col flex-start w-100">
        
        </div>
    </div>
</section>