<section>
    <h3>
        {{localize "c2d10.sheet.powers"}}
    </h3>
    <div class="content-box c2d10-subsection flex-row flex-between">
        <div class="flex-col flex-start w-100">
            <table class="c2d10-asset-card-table">
                <colgroup>
                    <col class="w-20">
                    <col class="w-20">
                    <col class="w-60">
                </colgroup>
                {{#each system.powers as |level name|}}
                    <tr>
                        <th class="table-no-border">{{localize name}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="power" data-id="{{name}}">
                            {{#dots level 5}}{{/dots}}
                        </td>
                    </tr>
                {{/each}}
                </table>
                {{#each variants as |item id|}}
                {{> "systems/c2d10/templates/partials/list-items/variant-list-item.hbs"}}
                {{/each}}
        </div>
    </div>
</section>