<tr class="asset-item asset" data-id="{{_id}}">
    <td class="c2d10-contentbox">
        {{name}}
    </td>
    <td class="c2d10-contentbox">
        {{data.data.assetType}}
    </td>
    <td class="c2d10-contentbox">
        <div class="flex-row">
            {{#dots data.data.quality}}{{/dots}}
        </div>
    </td>
    <td class="c2d10-contentbox">
        <div class="flex-row">
            {{#dots data.data.value}}{{/dots}}
        </div>
    </td>
</tr>