<tr class="asset-item" data-id="{{id}}">
    <td class="c2d10-contentbox asset">
        <a class="delete-item" title="{{localize "c2d10.sheet.delete"}}">
            <i class="far fa-minus-square"></i>
        </a>
    </td>
    <td class="c2d10-contentbox asset">
        {{name}}
    </td>
    <td class="c2d10-contentbox asset">
        {{data.data.assetType}} {{! // FIXME: V10 update. }}
    </td>
    <td class="c2d10-contentbox asset">
        <div class="flex-row">
            {{#dots data.data.quality 5}}{{/dots}} {{! // FIXME: V10 update. }}
        </div>
    </td>
    <td class="c2d10-contentbox asset">
        <div class="flex-row">
            {{#dots data.data.value 5}}{{/dots}} {{! // FIXME: V10 update. }}
        </div>
    </td>
</tr>