<tr class="equipment-item asset-item" data-id="{{id}}">
    <td class="c2d10-contentbox asset {{#if @root.showEffects}}fancy-effects{{/if}}">
        <a class="delete-item" title="{{localize "c2d10.sheet.delete"}}">
            <i class="far fa-minus-square"></i>
        </a>
    </td>
    <td class="c2d10-contentbox {{#if @root.showEffects}}fancy-effects{{/if}} equipment">
        {{name}}
    </td>
    <td class="c2d10-contentbox {{#if @root.showEffects}}fancy-effects{{/if}} equipment">
        {{system.assetType}}
    <td class="c2d10-contentbox {{#if @root.showEffects}}fancy-effects{{/if}} equipment">
        <div class="flex-row">
            {{#dots system.quality 5}}{{/dots}}
        </div>
    </td>
    <td class="c2d10-contentbox {{#if @root.showEffects}}fancy-effects{{/if}} equipment">
        <div class="flex-row">
            {{#dots system.value 5}}{{/dots}}
        </div>
    </td>
</tr>