<tr class="trait-item asset-item" data-id="{{id}}">
    <td class="c2d10-contentbox {{#if @root.showEffects}}fancy-effects{{/if}}">
        <a class="delete-item" title="{{localize "c2d10.sheet.delete"}}">
            <i class="far fa-minus-square"></i>
        </a>
    </td>
    <td class="c2d10-contentbox {{#if @root.showEffects}}fancy-effects{{/if}} asset">
        {{name}}
    </td>
    <td class="c2d10-contentbox {{#if @root.showEffects}}fancy-effects{{/if}} asset c2d10-capitalize">
        {{system.traitType}}
    </td>
    <td class="c2d10-contentbox {{#if @root.showEffects}}fancy-effects{{/if}} asset">
        <div class="flex-row flex-center">
            {{#dots system.level 5}}{{/dots}}
        </div>
    </td>
</tr>