<div class="variant-item asset-item" data-id="{{id}}">
    <divclass="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} asset">
        {{name}}
    </div>
    <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} asset c2d10-capitalize">
        {{system.power}}
    </div>
    <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} asset">
        {{system.description}}
    </div>
</div>