<section>
    <div class="flex-row flex-between">
        <h3>
            {{name}}
        </h3>
        <div class="c2d10-capitalize">
            {{document.type}}
        </div>
    </div>    
        <div class="flex-row flex-start">
            {{#dots document.system.value 5}}{{/dots}}
        </div>
        <div>
            {{document.system.description}}
        </div>
    </div>
</section>