<form class="{{cssClass}}" autocomplete="off">
    <div class="sheet-main-content c2d10-section flex-row flex-start">
        <div class="sheet-info">
            {{> "systems/c2d10/templates/partials/sheet-tabs/actor-info.hbs"}}
            {{> "systems/c2d10/templates/partials/sheet-tabs/actor-talents.hbs"}}
            {{> "systems/c2d10/templates/partials/sheet-tabs/actor-skills.hbs"}}
        </div>
    </div>
</form>